<section id="about" class="section">
    <h2 class="section-title animate-on-scroll">Обо мне</h2>
    <div class="about animate-slide-left">
        <p>
            В IT более 20 лет. Из них большую часть времени организовывал команды разработки и поддержки 
            информационных систем. Участвовал и руководил крупными проектами автоматизации, в т.ч. 
            высоконагруженными. Был лидером компании из 5+ команд по 7-10 человек.
        </p>
        <p>
            Обладаю большой экспертизой в области построения архитектуры сложных высоконагруженных 
            корпоративных приложений и интеграции разнородных систем. Специализируюсь на создании масштабируемых
            и надежных решений, выстраиваю процессы в разработке и внедряю инженерные практики.
        </p>
        <p>
            "Эффективным менеджером" никогда не был, основная техническая экспертиза в интеграциях (REST API, SOAP,
            EDI, WebSocket, XML/JSON, RabbitMQ, Kafka, Микросервисы), корпоративных приложениях (1С). Когда нужно, 
            легко подключаюсь к задачам по разным технологиям — могу работать с Java, Node.js, .NET, OneScript и 
            др. Такой подход позволяет быть гибким и эффективно закрывать потребности бизнеса.
        </p>
        <p>
            Постоянно изучаю новые технологии и подходы, участвую в профессиональных сообществах, делюсь знаниями с 
            коллегами, провожу workshopы и обучающие семинары.
            Активный участник open source проектов, контрибьютор в несколько проектов на GitHub (1s-syntax, 
            vanessa-opensource, yellow-hammer, oscript-library и другие).
        </p>
        <p>
            Придерживаюсь Agile принципов при организации работы. Владею различными методологиями и фреймворками: 
            Scrum, Kanban, SAFe для масштабирования на уровне портфеля, а также классическими подходами PMBoK. 
            Выбираю оптимальный подход в зависимости от контекста проекта, размера команды и специфики бизнес-задач.
        </p>
        <p>
            В моем личном списке достижений: Перевод 70-ти тысяч сотрудников в 1С:ЗУП с сохранением полного списка документов за 5+ лет.
            Построение потоков интеграций, через которые ежедневно проходило до 50 тысяч сообщений.
            Оптимизация закрытия месяца в 1C:ERP, с 65 до 6 часов (Большое количество подразделений).
            Оптимизация трансляции данных в 1С:УХ, за счет кэширования, с 40 до 1 часа (Позволило заказчику в трансформационной модели получать данные ежедневно, в течении рабочего дня).
            Внедрение CI/CD на проектах с франчайзи, чтобы контролировать качество предоставляемого кода и процесс внедрения нового функционала. Еженедельные релизы по плану. 
            Внедрение практики Everything as Code (IaC, CaC, Pipeline as Code, Docs as Code, Policy as Code).
        </p>
    </div>
</section>