<section id="contacts" class="contacts">
    <h2>Контакты</h2>
    <div class="contacts-buttons">
        <a class="contact-btn contact-btn-black" href="https://github.com/johnnyshut" target="_blank">GitHub</a>
        <a class="contact-btn contact-btn-lavender" href="https://infostart.ru/profile/534321/" target="_blank">Infostart профиль</a>
        <a class="contact-btn contact-btn-blue" href="https://t.me/ivcarlo" target="_blank">Telegram</a>
        <a class="contact-btn contact-btn-green" href="https://wa.me/79261568903" target="_blank">WhatsApp</a>
        <a class="contact-btn contact-btn-lightblue" href="mailto:i.karlo@outlook.com">Email</a>
        <a class="contact-btn contact-btn-black-blue" href="tel:+79261568903">Телефон</a>
    </div>
</section>